%table{:summary => "Team member entry form fields"}
  %tr
    %th= f.label(:data, "дата")
    %td= f.date_field :date
  
  %tr
    %th= f.label(:title, "название")
    %td= f.text_field :title
  %tr
    %th= f.label(:description, "описание")
    %td= f.text_area :description, size: '60x20'
  %tr
    %th= f.label(:image, "фото (150x150px)")
    %td= f.file_field(:image)
  -if @audio_entry.image
    %tr
      %td
        =image_tag @audio_entry.image
  %tr
    %th= f.label(:permalink, "аудио")
    %td= f.file_field(:permalink)

