%table{:summary => "Team member entry form fields"}
  %tr
    %th= f.label(:data, "дата")
    %td= f.date_field :date
  
  %tr
    %th= f.label(:title, "название")
    %td= f.text_field :title
  %tr
    %th= f.label(:summary, "описание")
    %td= f.text_area :summary, size: '60x20'
  %tr
    %th= f.label(:photo, "фото (150x150px)")
    %td= f.file_field(:photo)
  -if @audio_entry.image.present?
    %tr
      %td
        =image_tag @performer.image
  %tr
    %th= f.label(:permalink, "аудио")
    %td= f.file_field(:permalink)
  -if @audio_entry.permalink.present? 
    %tr
      %th= f.label(:summary, "аудио ссылка")
      %td= f.text_field :permalink, size: "80" 

