%table{:summary => "Team member entry form fields"}
  %tr
    %th= f.label(:title, "имя")
    %td= f.text_field :title
  %tr
    %th= f.label(:description, "описание")
    %td= f.text_area :description, size: '60x20'
  %tr
    %th= f.label(:position, "приоритет")
    %td= f.select(:position, 1..@performer_count)
  
  %tr
    %th= f.label :role, "категория"
    %td= f.select :role, 
      options_for_select([['гость','1'],['талант','2'],['не обозначен','3']], @performer.role), { :class => 'span3 controls controls-row' } 
  %tr
    %th= f.label(:photo, "фото (150x150px)")
    %td= f.file_field(:photo)
  -if @performer.photo.present?
    %tr
      %tr
      %td
        =image_tag @performer.photo
  %tr
    %th= f.label(:permalink, "аудио")
    %td= f.file_field(:permalink)

