-@page_title = "Admin | Team Members"
%h2 исполнители
= link_to('добавить нового исполнителя', {:action => 'new'}, :class => 'btn btn-xs btn-warning action new')
%table.admin-table{:summary => "Team Member List"}
  %tr
    %th фото
    %th имя
    %th тип
    %th действия
  - @performers.each do |performer|
    %tr{:class => cycle('odd', 'even')}
      -if performer.image.exists?
        %td= image_tag performer.image.url(:thumb), class: "member photo"
      -else
        %td= image_tag "noimage_150.jpg", class: "performer photo"
      - if performer.section_id == 1
        %td гость
      - if performer.section_id == 2
        %td талант
      - if performer.section_id == 3
        %td не обозначено
      %td.actions
        = link_to'правка', {:action => 'edit', :id => performer.id}, class: 'btn btn-xs btn-warning'
        = link_to"удалить", {:action => 'delete', :id => performer.id}, class: "btn btn-xs btn-danger", confirm: "уверены?"

