-@page_title = "Admin | Team Members"
#audio-wrap
  %section{:id => 'audio', :class => 'player'}
  #player-close
%h2.animated.bounce исполнители
= link_to('добавить нового исполнителя', {:action => 'new'}, :class => 'btn btn-xs btn-warning action new')
%table.admin-table{:summary => "Team Member List"}
  %tr
    %th фото
    %th имя
    %th тип
    %th действия
  - @performers.each do |performer|
    %tr{:class => cycle('odd', 'even')}
      -if performer.photo
        %td= image_tag performer.photo.url, class: "member photo"
      -else
        %td= image_tag "noimage_150.jpg", class: "performer photo"
      -if performer.title
        %td= performer.title
      -else
        %td без имени
      - if performer.role == 1
        %td гость
      - if performer.role == 2
        %td талант
      - if performer.role == 3
        %td не обозначено
      %td.actions
        = link_to'правка', {:action => 'edit', :id => performer.id}, class: 'btn btn-xs btn-warning'
        = link_to 'прослушать', performer.permalink.url, class: "btn btn-xs btn-default html5"
        = link_to"удалить", {:action => 'delete', :id => performer.id}, class: "btn btn-xs btn-danger", confirm: "уверены?"

