%li.admin-nav-link= link_to "домашняя" , edit_admin_page_section_content_path(1) 
%li.admin-nav-link= link_to "о нас" , edit_admin_page_section_content_path(3) 
%li.admin-nav-link= link_to "архив" , edit_admin_page_section_content_path(4) 
%li.admin-nav-link= link_to "реклама" , edit_admin_page_section_content_path(5) 
%li.admin-nav-link= link_to "контакт" , edit_admin_page_section_content_path(6)
%li.admin-nav-link= link_to "выпуски" , admin_audio_entries_path 
%li.admin-nav-link= link_to "баннеры" , admin_banners_path 
%li.admin-nav-link= link_to "исполнители" , admin_performers_path 
%li.admin-nav-link= link_to "настройки" , admin_page_section_contents_path
