!!!
%html{:lang => "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Radio Courier", :name => "description"}/
    %meta{:content => "Boris Babkin", :name => "author"}/
    %title
      Радио Курьер | #{@page_title || "Admin"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"
    = javascript_include_tag :modernizr
    = csrf_meta_tags 
    = tinymce
    %link{rel: "icon", type: "image/png", href: "favicon.png"}


  %body
    - if !flash[:notice].blank?
      .notice-admin
        = flash[:notice]
    #wrapper
      #sidebar-wrapper
        = render :partial => 'layouts/adminnav'
      #page-content-wrapper
        %a#menu-toggle.btn.btn-xs.btn-xs.btn-warning{:href => "#menu-toggle"} Hide/Show Menu
        %hr
        = yield
    :javascript
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      });


